PORT=5000
MONGO_URI=mongodb://samuelboman10_db_user:Samterry13@ac-olzy6k1-shard-00-00.tsalfgc.mongodb.net:27017,ac-olzy6k1-shard-00-01.tsalfgc.mongodb.net:27017,ac-olzy6k1-shard-00-02.tsalfgc.mongodb.net:27017/armanish-kitchen?ssl=true&replicaSet=atlas-dphf07-shard-0&authSource=admin&appName=Cluster123
JWT_SECRET=your_jwt_secret_key
JWT_SECRET=your_jwt_secret_here
